.navbar {
    background-color: #165082;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.navbar-nav {
    margin: 0 auto;
}

.navbar a:hover {
    text-decoration: underline;
}

.nav-link {
    color: #ffffff !important;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin: 0 10px;
}

body {
    background: #f6f6f6e1;
    margin: 0;
    padding: 50px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: black;
    margin-bottom: 25px;
    padding-top: 30px;
    font-weight: bold;
}

.button:active {
    opacity: 0.7;
}

form {
    color: black;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #2850a7;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #218838;
}